<div class="my-4">
  <div
    class="card"
    [ngClass]="{
      'bg-success': status == 1,
      'bg-danger': status == 2
    }"
  >
    <div class="card-body">
      <form autocomplete="off">
        <div class="mb-3">
          <p class="lead">{{ item.inPolish }}</p>
        </div>
        <div class="mb-3">
          <nz-alert *ngIf="status == 4" nzType="warning" nzMessage="Uzupełnij pole!" nzShowIcon></nz-alert>
          <nz-input-group [nzPrefix]="Template">
          <input #inputAnswer  name="inputAnswer" type="text" nz-input placeholder="Odpowiedź"/>
            <ng-template #Template>
              <span *ngIf="status == 1" nz-icon nzType="smile" nzTheme="outline"></span>
              <span *ngIf="status == 2" nz-icon nzType="meh" nzTheme="outline" ></span>
            </ng-template>
          </nz-input-group>
        </div>
        <div>
          <p *ngIf="status == 2" class="card-text mb-3 mx-3">
            Prawidłowa odpowiedź to: {{ item.inEnglish }}
          </p>
          <p *ngIf="status == 1" class="card-text mb-3 mx-3">Prawidłowa odpowiedź!</p>
        </div>
          <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="onCheckAnswer(inputAnswer.value,item.inEnglish)">Sprawdź</button>
          <button nz-button nz-tooltip nzTooltipTitle="Wyczyść" nzTooltipPlacement="bottom" [nzTooltipMouseEnterDelay]="1" style="margin-left: 0.5rem;" nzType="default" nzSize='large'nzShape="circle" (click)="status = 0; inputAnswer.value = ''"><span nz-icon nzType="clear"></span></button>
          <button nz-button nz-tooltip nzTooltipTitle="Wyświetl odpowiedź" nzTooltipPlacement="right" [nzTooltipMouseEnterDelay]="1" style="margin-left: 0.5rem;" nzType="default" nzSize='large' nzShape="circle" (click)="inputAnswer.value = item.inEnglish"><span nz-icon nzType="question" nzTheme="outline"></span></button>
      </form>
    </div>
  </div>
</div>
