<nav
  class="navbar navbar-expand-md navbar-light bg-light"
  aria-label="Fourth navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MedFiszki</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample04"
      aria-controls="navbarsExample04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Home</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
  <div class="col mb-3">
    <a
      href="/"
      class="d-flex align-items-center mb-3 link-dark text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <p class="text-muted">© 2022</p>
  </div>

  <div class="col mb-3"></div>

  <div class="col mb-3">
    <h6>Credits</h6>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a
          href="https://www.freepik.com/free-vector/human-internal-organ-with-heart_27284722.htm#query=circulatory&position=1&from_view=search&track=sph"
          >Image by brgfx</a
        >
        on Freepik
      </li>
      <li class="nav-item mb-2">
        Image by
        <a
          href="https://www.freepik.com/free-vector/sketchy-osseous-system_844780.htm#query=skeleton&position=47&from_view=search&track=sph"
          >Freepik</a
        >
      </li>
      <li class="nav-item mb-2">
        <a
          href="https://www.freepik.com/free-vector/human-with-muscle-diagram_7037316.htm#query=muscular%20system&position=39&from_view=search&track=sph"
          >Image by brgfx</a
        >
        on Freepik
      </li>
    </ul>
  </div>
</footer>
