<nav
  class="navbar navbar-expand-md navbar-light bg-light border-bottom"
  aria-label="Fourth navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">MedFiszki</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample04"
      aria-controls="navbarsExample04"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Strona główna</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="container">
  <footer class="py-5 border-top  mt-4">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h6>Credits</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="http://www.freepik.com" class="nav-link p-0 text-muted">Home page menu images designed by brgfx / Freepik</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h6>Nawigacja</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/home" class="nav-link p-0 text-muted">Strona główna</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h6>Github projektu:</h6>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://github.com/Aran-Skirata/MedFiszki" class="nav-link p-0 text-muted">MedFiszki - prosta aplikacja do nauki angielskich pojęć anatomicznych</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>2022 Karol Kuc</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="https://github.com/Aran-Skirata"><i class="bi bi-github"></i></a></li>
        <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/in/karol-kuc-009a00246"><i class="bi bi-linkedin"></i></a></li>
      </ul>
    </div>
  </footer>
</div>