<div *ngIf="!anatomyTranslations.length" class="container d-flex my-5 justify-content-center">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
<div *ngIf="anatomyTranslations.length">
  <div class="container">
    <div class="bg-light border my-3">
        <nz-page-header      
          class="site-page-header"
          nzTitle="Przetłumacz na język angielski"
          >
        </nz-page-header>
    </div>
  </div>
  <div class="container">
    <div>
      <app-question
        *ngFor="let item of anatomyTranslations"
        [item]="item"
      ></app-question>
    </div>
    <div class="d-flex justify-content-center" *ngIf="pagination">
      <nz-pagination
        [nzPageIndex]="pagination.currentPage"
        [nzTotal]="pagination.totalCount"
        [nzPageSize]="pagination.pageSize"
        [nzResponsive]="true"
        [nzShowSizeChanger]="true"
        (nzPageIndexChange)="pageChanged($event)"
        (nzPageSizeChange)="pageSizeChanged($event)"
        [nzShowQuickJumper]="true"
      ></nz-pagination>
    </div>
  </div>
</div>


