<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-lg-4">
      <app-topic
        topicTitle="Mięśnie kończyny górnej Pol/Ang"
        topicDsc="Tłumaczenie mięśni kończyny górnej z polskiego na angielski"
        [Link]="['/anatomytranslations', '2', '1']"
        imgUrl="assets/images/muscularsystem.jpg"
      ></app-topic>
    </div>
    <div class="col-sm-6 col-lg-4">
      <app-topic
        topicTitle="Nerwy kończyny górnej Pol/Ang"
        topicDsc="Tłumaczenia części układu nerwowego kończyny górnej z polskiego na angielski"
        [Link]="['/anatomytranslations', '3', '1']"
        imgUrl="assets/images/nervoussystem.jpg"
      ></app-topic>
    </div>
    <div class="col-sm-6 col-lg-4">
      <app-topic
        topicTitle="Układ kostny kończyny górnej Pol/Ang"
        topicDsc="Tłumaczenie kości kończyny górnej z polskiego na angielski"
        [Link]="['/anatomytranslations', '4', '1']"
        imgUrl="assets/images/skeleton.jpg"
      ></app-topic>
    </div>
    <div class="col-sm-6 col-lg-4">
      <app-topic
        topicTitle="Układ kostny kończyny dolnej Pol/Ang"
        topicDsc="Tłumaczenie kości kończyny dolnej z polskiego na angielski"
        [Link]="['/anatomytranslations', '4', '2']"
        imgUrl="assets/images/skeleton.jpg"
      ></app-topic>
    </div>
    <div class="col-sm-6 col-lg-4">
      <app-topic
        topicTitle="Układ krwionośny kończyny górnej Pol/Ang"
        topicDsc="Tłumaczenia części układu krwionośnego kończyny dolnej z polskiego na angielski"
        [Link]="['/anatomytranslations', '1', '1']"
        imgUrl="assets/images/circulatorysystem.jpg"
      ></app-topic>
    </div>
  </div>
</div>
